<!--
<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('공지사항', 'notice')">
                <i class="icon ion-speakerphone"></i>
                <span class="popover_text">공지사항</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('에버버스는', 'about')">
                <i class="icon ion-ios-help-outline"></i>
                <span class="popover_text">에버버스는</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('앱 데이터 삭제', 'removeappdata')">
                <i class="icon ion-ios-trash-outline"></i>
                <span class="popover_text">앱 데이터 삭제</span>
            </a>

            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('앱 버전 체크', 'versioncheck')">
                <i class="icon ion-android-playstore popover_icon"></i>
                <span class="popover_text">앱 버전 체크</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('지역 선택', 'selectregion')">
                <i class="icon ion-android-checkbox-outline popover_icon"></i>
                <span class="popover_text">지역 선택</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="sendbugmail()">
                &lt;!&ndash;<i class="icon ion-android-mail popover_icon"></i>&ndash;&gt;
                <i class="icon ion-ios-email-outline"></i>
                <span class="popover_text">오류 및 문의 메일</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('정보 제공처', 'infomation')">
                &lt;!&ndash;<i class="icon ion-ios-information popover_icon"></i>&ndash;&gt;
                <i class="icon ion-ios-information-outline"></i>
                <span class="popover_text">정보 제공처</span>
            </a>
            <a class="item item-icon-left" href="#" ng-click="openmoreinfoModal('도움말', 'help')">
                &lt;!&ndash;<i class="icon ion-ios-bookmarks popover_icon"></i>&ndash;&gt;
                <i class="icon ion-ios-bookmarks-outline"></i>
                <span class="popover_text">도움말</span>
            </a>
        </div>
    </ion-content>
</ion-popover-view>
-->
