<ion-view view-title="앱 데이터 삭제">
    <ion-content scrollbar-x="false" overflow-scroll="true">
        <div style="padding:10px;">
            <div class="list">
                <ion-checkbox>즐겨찾기</ion-checkbox>
                <ion-checkbox>최근 노선 검색</ion-checkbox>
                <ion-checkbox>최근 정류소 검색</ion-checkbox>
            </div>
            <div class="button-bar">
                <a class="button button-assertive"
                   ng-click="">전체 선택</a>
                <a class="button button-assertive"
                   ng-click="">초기화</a>
                <a class="button button-assertive"
                   ng-click="">선택 삭제</a>
            </div>
        </div>
    </ion-content>
</ion-view>