<ion-view view-title="EVERBUS">
    <ion-nav-back-button class="button-clear"><i class="ion-arrow-left-c"></i> 뒤로</ion-nav-back-button>
    <ion-nav-title ui-sref="tabs.bookmark">
        &nbsp;에버버스
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-loop"
                ng-click="refesh()"></button>
        <button class="button button-icon ion-android-search"
                ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ui-gmap-google-map id="stationdetail_map" ng-if="map_check" center='map.center' zoom='map.zoom' options="map.options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"
                            ng-repeat="marker in markers"
                            click="click_around_stop(marker)">
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <ion-list>
            <ion-item collection-repeat="item in bus_stop.stop_detail_info.ROUTELIST"
                      ng-click="click_bus(item.areacd, item.routeid)">
                <div class="row">
                  <bus-route-type-directive route-type="{{item.rtype}}">
                    {{item.routenm}}
                  </bus-route-type-directive>
                    <!--<div class="col" bus-route-type-directive="{{item.rtype}}" route-type="{{item.rtype}}">
                      {{item.routenm}}
                    </div>-->
                    <div class="col" style="text-align: right;">
                        <span style="font-size: 15px;">{{item.real_time_info.arrive_time}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <span style="font-size: 12px;">다음정류장 : {{item.next_stop}}</span>
                    </div>
                    <div class="col-50" style="text-align: right;" ng-if="item.real_time_info.pre_count">
                        <span style="font-size: 12px;">현재위치 : {{item.real_time_info.pre_count}}</span>
                    </div>
                </div>

            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
